Repository warteamx/lab1-todoApp: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

⬆️ chore(deps): update react-native-reanimated to 4.3.0 and react-native-worklets to 0.8.3
  client/package-lock.json
  client/package.json
Due: client

🐛 fix(app): fix data for client and server
  client/app/(user)/todo/index.tsx
  server/src/__tests__/todo/todo.service.test.ts
  server/src/domain/todo/services/todo.service.ts
  server/src/infrastructure/repositories/todo.repository.ts
Due: client, server

✨ feat(client): Toggle task filter button
  client/app/(user)/todo/__tests__/index.test.tsx
  client/app/(user)/todo/index.tsx
Due: client

✨ feat(client): set default filters to day view and pending status
  client/app/(user)/todo/__tests__/index.test.tsx
  client/app/(user)/todo/index.tsx
Due: client

✨ feat(api): enhance error handling for todo creation and fetching
  client/api/__tests__/todo.api.test.ts
  client/api/todo.api.ts
  server/src/infrastructure/repositories/todo.repository.ts
Due: client, server

✨ feat(cron): update Supabase keep-alive schedule to run daily and enhance keep-alive queries
  .github/prompts/plan-supabaseKeepAliveCron.prompt.md
  docs/deployment/DEPLOYMENT.md
  scripts/README.md
  scripts/setup-supabase-keepalive-cron.sh
  server/src/scripts/db-keepalive.ts
Due: server

Path conditions:
  client: any of: client/
  server: any of: server/
