Repository warteamx/lab1-todoApp: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  client:
    paths:
      - client/
    carryforward: false
  server:
    paths:
      - server/
    carryforward: false

comment:
  layout: 'reach,diff,flags,tree,reach'
  behavior: default
  require_changes: false

✨ feat(semver): Simplify changelog and versioning system
  .releaserc.json
  CHANGELOG.md
  client/CHANGELOG.md
  client/constants/version.ts
  client/scripts/build-version.js
  docs/CHANGELOG_SIMPLIFICATION_SUMMARY.md
  docs/SEMANTIC_VERSIONING.md
  package.json
  scripts/README.md
  scripts/generate-changelog.js
  scripts/manual-version.js
  server/CHANGELOG.md
  server/scripts/build-version.js
  server/src/api/system/version.controller.ts
Due: client, server

🔧 fix(lint): exclude build scripts from TypeScript ESLint rules
  client/eslint.config.js
  client/scripts/build-version.js
  server/eslint.config.js
  server/scripts/build-version.js
Due: client, server

🔧 fix(lint): add ESLint disable comments for config files
  client/eslint.config.js
  server/eslint.config.js
Due: client, server

✨ feat(env): Enhance environment variable management and setup scripts
  README.md
  client/.env.example
  docs/ENVIRONMENT_IMPROVEMENTS_SUMMARY.md
  docs/ENVIRONMENT_SETUP.md
  scripts/README.md
  scripts/auto-github-secrets.sh
  scripts/manual-github-secrets.sh
  scripts/setup-environment.sh
  scripts/setup-github-secrets-template.sh
  scripts/setup-github-secrets.sh
  scripts/setup-supabase-secrets.sh
  server/.env.example
  server/src/infrastructure/config/index.ts
Due: client, server

♻️ refactor(package): Refactor package.json files for improved organization and script management
  .github/workflows/ci-cd.yml
  README.md
  client/package-lock.json
  client/package.json
  docs/AI_CONTEXT.md
  docs/ai-generated/summaries/DOCUMENTATION_UPDATES_SUMMARY.md
  docs/ai-generated/summaries/PACKAGE_INSTALLATION_COMPLETE.md
  docs/ai-generated/summaries/PACKAGE_REFACTOR_SUMMARY.md
  docs/client/INSTALLATION.md
  docs/client/README-client.md
  docs/client/TESTING.md
  docs/server/README.md
  docs/server/TESTING.md
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/yarn.lock
Due: client, server

📝 docs: Update README
  README.md
Due: none

✨ feat(security): Enhance Helmet configuration for Swagger UI and improve path resolution for OpenAPI files
  server/src/app.ts
  server/src/openapi.ts
Due: server

📝 docs: Update README badges for CI/CD workflow and dependency scopes
  .claude.md
  README.md
Due: none

🐛 fix(openapi): Update server configuration for HTTP-only serving and enhance Swagger UI functionality
  client/app/(user)/ui-demo/ui-demo.tsx
  client/components/modules/Navigation/NavigationHeader.modal.tsx
  docs/ai-generated/fixes/20250909_OPENAPI_HTTP_CONFIGURATION.md
  docs/deployment/ALB_HTTPS_SETUP.md
  server/src/app.ts
  server/src/openapi.ts
Due: client, server

🐛 fix(ci): add coverage flag to server test:ci command
  README.md
  server/package.json
Due: server

🐛 fix: Update app naming conventions to use "ToDo" consistently across the application
  client/app.json
  client/app/(auth)/_layout.tsx
  client/app/(user)/_layout.tsx
  client/app/(user)/todo/_layout.tsx
  client/app/(user)/todo/editTodo.tsx
  client/app/(user)/todo/index.tsx
  client/app/(user)/todo/newTodo.tsx
  client/app/_layout.tsx
  client/app/index.tsx
  client/assets/images/favicon.png
  client/assets/images/favicon2.png
Due: client

✨ feat(footer): add Footer component and integrate it into SignIn and SignUp screens
  client/app/(auth)/sign-in.tsx
  client/app/(auth)/sign-up.tsx
  client/components/ui/Footer/Footer.tsx
  client/components/ui/Footer/index.ts
  client/components/ui/index.ts
Due: client

🔥 chore(readme): remove unused dependency badges from README
  README.md
Due: none

🐛 fix(env): fix production url api variable
  README.md
Due: none

🐛 fix(cd-ci): env variables
  .github/workflows/ci-cd.yml
Due: none

🐛 fix(ci): env variables
  .github/workflows/ci-cd.yml
Due: none

🐛 fix(ci): update api env variable + add no chache to aws s3/cloudfront
  .github/workflows/ci-cd.yml
Due: none

🐛 fix(ci): api calls and ui improvement
  .github/workflows/ci-cd.yml
  client/api/todo.api.ts
  client/app/(user)/todo/index.tsx
  client/app/(user)/todo/newTodo.tsx
  client/app/index.tsx
  client/components/ui/Footer/Footer.tsx
Due: client

🐛 fix(server): Allow non secure http
  server/src/app.ts
Due: server

🐛 fix(serve): Very permisive helmet config to allow http cross orign request
  server/src/app.ts
Due: server

🐛 fix(server): fix semver variables in healthcheck
  .github/workflows/ci-cd.yml
  server/scripts/build-version.js
  server/src/common/config/version.ts
Due: server

🐛 fix(ci): release step before building
  .github/workflows/ci-cd.yml
Due: none

🐛 fix(server): fix server ci version on healthcheck
  server/scripts/build-version.js
  server/src/common/config/version.ts
Due: server

🐛 fix(aws): Add ssl certificate to EC2 + nginx
  .github/workflows/ci-cd.yml
  docs/ai-generated/HTTPS_SETUP_SUMMARY.md
  docs/ai-generated/MANUAL_NGINX_SETUP.md
  docs/ai-generated/NGINX_HTTPS_SETUP.md
  scripts/deploy-nginx-https.sh
  scripts/setup-https-security-group.sh
  scripts/setup-nginx-https.sh
Due: none

✨ feat(admin-panel): Install next.js admin panel
  admin-panel/.gitignore
  admin-panel/README.md
  admin-panel/biome.json
  admin-panel/docs/ai.md
  admin-panel/next.config.ts
  admin-panel/package-lock.json
  admin-panel/package.json
  admin-panel/postcss.config.mjs
  admin-panel/public/file.svg
  admin-panel/public/globe.svg
  admin-panel/public/next.svg
  admin-panel/public/vercel.svg
  admin-panel/public/window.svg
  admin-panel/src/app/favicon.ico
  admin-panel/src/app/globals.css
  admin-panel/src/app/layout.tsx
  admin-panel/src/app/page.tsx
  admin-panel/tsconfig.json
  docs/development/deployment/ALB_HTTPS_SETUP.md
  docs/development/deployment/DEPLOYMENT.md
Due: none

✨ feat(warp): Add terminal warp context to root project.
  WARP.md
Due: none

📝 docs(root): add commit message regex
  README.md
Due: none

🚧 feat(n8n): Abandon n8n
  n8n/.env.example
  n8n/docker-compose.yml
  n8n/nginx/conf.d/n8n.conf
  n8n/nginx/nginx.conf
  n8n/scripts/aws-deploy.sh
  n8n/scripts/deploy.sh
  n8n/scripts/init-db.sql
Due: none

💡 feat(warp): Add warp AI prompt
  WARP.md
Due: none

✨ feat(server): add Supabase DB keep-alive script and EC2 cron setup
  .github/prompts/plan-supabaseKeepAliveCron.prompt.md
  docs/deployment/DEPLOYMENT.md
  scripts/README.md
  scripts/setup-supabase-keepalive-cron.sh
  server/package.json
  server/src/scripts/db-keepalive.ts
Due: server

🐛 fix(client): update frontend app date references to 2026
  client/app/index.tsx
  client/components/ui/Footer/Footer.tsx
  client/constants/version.ts
Due: client

🐛 fix(ci): add manual force deploy override for workflow dispatch
  .github/workflows/ci-cd.yml
Due: none

📝 docs(readme): add manual force_deploy workflow instructions
  README.md
Due: none

⬆️ feat(deps): upgrade Node.js to v22 and update dependencies
  .github/workflows/ci-cd.yml
  client/package-lock.json
  client/package.json
  docs/DEPENDENCY_UPGRADE_PLAN.md
  package-lock.json
  package.json
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/yarn.lock
Due: client, server

🐛 fix(husky): add support for new gitmoji in commit message validation
  .husky/commit-msg
Due: none

⬆️ chore(client): update expo sdk 54 dependencies and fix Navigation
  client/components/modules/Navigation/NavigationHeader.modal.tsx
  client/package-lock.json
  client/package.json
Due: client

⬆️ chore(expo): upgrade to sdk 55
  client/app.json
  client/package-lock.json
  client/package.json
Due: client

⬆️ chore(expo): upgrade dependencies for Expo SDK 56 and React 19.2.3
  client/package-lock.json
  client/package.json
Due: client
